*.a
*.o
.deps/
/Makefile
/aclocal.m4
/ar-lib
/autom4te.cache/
/compile
/config.h
/config.h.in
/config.h.in~
/config.log
/config.status
/configure
/depcomp
/install-sh
/missing
/src/Makefile
/src/gles2cube
/stamp-h1
Makefile.in
